<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Simple Bank">
    <meta name="keywords" content="HTML">
    <meta name="author" content="Chinnawat Chimdee">
<!-- < title > To-Do lists < / title > -->
    <title> Simple Bank </title>
</head>
<body>
<!-- < h1 > Your To-Do list < / h1 > -->
    <h1> Simple Bank </h1>

    <form method = "POST" >
        <input name = "item_text" id = "id_new_item"
               placeholder = "ป้อนจำนวนเงิน" />
        {% csrf_token %}
    </form>

    <table id = "id_list_table" >
      {% for item in items %}
        <tr><td> ครั้งที่ {{ forloop.counter }}: {{ item.amount }} บาท </td></tr>
      {% endfor %}
        <tr><td> ---------- </td></tr>
        <tr><td><b> ผลรวม : {{ sum }} บาท </b></td></tr>
        <tr><td><b> ค่าเฉลี่ยต่อครั้ง : {{ average }} บาท </b></td></tr>
    </table>

    <table id = "min_max_sorted_table" >
        <tr><td> ---------- </td></tr>
        <tr>
          <td><b> Min: {{ Min }} บาท </b></td>
          <td><b> Max: {{ Max }} บาท </b></td>
        </tr>
        <tr><td> ---------- </td></tr>
        <tr>
          <td><b> Min to Max </b></td>
          <td><b> Max to Min </b></td>
        </tr>
        {% for mintomax,maxtomin in Sorter %}
        <tr>
          <td> {{ mintomax }} </td>
          <td> {{ maxtomin }} </td>
        </tr>
        {% endfor %}
      <!--  USE THIS WHEN YOU WANT EACH VALUE
        <td>Min to Max</td>

        {% for item in Elements %}
        <tr>
          <td>{{ item }}</td>
        </tr>
        {% endfor %}
        <br>
        <td>Max to Min</td>
        {% for item,item2 in revElements %}
        <tr>
          <td>{{ item }}</td>
          <td>{{ item2 }}</td>
        </tr>
        {% endfor %}
      -->
    </table>
    </body>
</html>
